.footer {
  padding-top: 52px;
  padding-bottom: 52px;
  @media (max-width:650px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    @media (max-width:650px) {
      gap: 32px;
    }
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:870px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
    }
    @media (max-width:500px) {
      gap: 24px;
    }
  }
  &__logo {
    svg {
      @media (max-width:500px) {
        width: 130px;
      }
    }
  }
  &__list {
    display: flex;
    gap: 24px;
    @media (max-width:870px) {
      flex-direction: column;
      gap: 20px;
    }
    @media (max-width:650px) {
      gap: 12px;
    }
  }
  &__item {}
  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: white;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    @media (max-width:870px) {
      flex-direction: column-reverse;
      gap: 20px;
    }
    @media (max-width:650px) {
      gap: 12px;
    }
  }
  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    opacity: 0.7;
  }
  &__country {
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    opacity: 0.7;


    a {
      color: white;
      transition: all .3s ease;
      &:hover {
        opacity: 1;
        color: var(--color-green-accent);
      }
    }
  }
}
