<section class="section clients" id="clients">
  <div class="clients__container">
    <h2 class="section__title clients__title section__title-small span-lines animate">
      <span class="left-1">Довольные</span> <span class="green-accent">Клиенты</span>
    </h2>
    <p class="section__descr anima">
      Мы&nbsp;ценим наших клиентов и&nbsp;стремимся создать долгосрочные и&nbsp;взаимовыгодные отношения. Мы&nbsp;уверены, что наша продукция и&nbsp;услуги помогут оптимизировать вашу работу и&nbsp;повысить эффективность вашего бизнеса. Среди наших постоянных клиентов:
    </p>
    <div class="clients-swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
        <img src="/public/img/clients/1.png" alt="">
        </div>
        <div class="swiper-slide">
        <img src="/public/img/clients/2.png" alt="">
        </div>
        <div class="swiper-slide">
        <img src="/public/img/clients/3.png" alt="">
        </div>
        <div class="swiper-slide">
        <img src="/public/img/clients/4.png" alt="">
        </div>
        <div class="swiper-slide">
        <img src="/public/img/clients/5.png" alt="">
        </div>
        <div class="swiper-slide">
        <img src="/public/img/clients/6.png" alt="">
        </div>
        <div class="swiper-slide">
        <img src="/public/img/clients/7.png" alt="">
        </div>
        <div class="swiper-slide">
        <img src="/public/img/clients/8.png" alt="">
        </div>
        <div class="swiper-slide">
        <img src="/public/img/clients/9.png" alt="">
        </div>
        <div class="swiper-slide">
        <img src="/public/img/clients/10.png" alt="">
        </div>
        <div class="swiper-slide">
        <img src="/public/img/clients/11.png" alt="">
        </div>
        <div class="swiper-slide">
        <img src="/public/img/clients/12.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>