<section class="equipment section section-green">
  <div class="equipment__container">
    <div class="section__info equipment__section-info">
      <h2 class="section__title equipment__title span-lines animate"><span class="left-1">Дополнительное</span> <span class="opacity7">Оборудование</span></h2>
      <button class="btn btn-reset btn-main btn-light js-open-modal-main" href="">
        Оставить заявку
        <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 1L10 5M10 5L6 9M10 5H0" stroke="#19A25A"/>
        </svg>
        </button>
    </div>
    <ul class="equipment__list">
      <li class="equipment__item">
        <h3 class="equipment__heading">Оборудование HOWO, SITRAK</h3>
        <ul class="equipment__sublist">
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Гидрофикация тягачей</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Установка ПЖД</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Установка автономного отопителя</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Утеплители</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Интерьер и экстерьер</a>
          </li>
        </ul>
        <div class="equipment__img">
          <div class="equipment__image equipment-parallax">
            <img src="/public/img/equipment/1.jpg" alt="">
          </div>
        </div>
      </li>
      <li class="equipment__item">
        <h3 class="equipment__heading">дорожно-строительная техника</h3>
        <ul class="equipment__sublist">
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Навесное оборудование</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Ножи, коронки</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Утеплители капота</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Установка ПЖД и Автономного отопителя</a>
          </li>
        </ul>
        <div class="equipment__img">
          <div class="equipment__image equipment-parallax">
            <img src="/public/img/equipment/2.jpg" alt="">
          </div>
        </div>
      </li>
      <li class="equipment__item">
        <h3 class="equipment__heading">Складская техника</h3>
        <ul class="equipment__sublist">
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Мягкие кабины</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Ковши</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Отвалы</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Вилы паллетные</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Монтажные корзины</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Захваты для рулонов</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Ротаторы</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Установка ПЖД и Автономного отопителя</a>
          </li>
        </ul>
        <div class="equipment__img">
          <div class="equipment__image equipment-parallax">
            <img src="/public/img/equipment/3.jpg" alt="">
          </div>
        </div>
      </li>
      <li class="equipment__item">
        <h3 class="equipment__heading">Крано-Манипуляторные установки</h3>
        <ul class="equipment__sublist">
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Кабины оператора</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Защита оператора КМУ</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Монтажные корзины</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Гидровращатель</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Гидроножницы</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Ротаторы</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Двухчелюстные ковши</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Грейфер</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Вилы паллетные, Вилочные захваты</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Ковш экскаваторный</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Системы эвакуации автомобильного транспорта</a>
          </li>
        </ul>
        <div class="equipment__img">
          <div class="equipment__image equipment-parallax">
            <img src="/public/img/equipment/4.jpg" alt="">
          </div>
        </div>
      </li>
      <li class="equipment__item">
        <h3 class="equipment__heading">Аксессуары</h3>
        <ul class="equipment__sublist">
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Чехлы</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Коврики</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Ламбрексены</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Шторки</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">Брызговики</a>
          </li>
          <li class="equipment__subitem">
            <a class="equipment__sublink" href="">И так далее</a>
          </li>
        </ul>
        <div class="equipment__img">
          <div class="equipment__image equipment-parallax">
            <img src="/public/img/accessories.png" alt="">
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>