<section class="hero section" id="detail-hero" data-section="hero">
  <div class="hero__image ibg">
    <img class="" src="https://big-gk.com/upload/iblock/25f/qwmphhyz08250urv9y95agknf41nfh4e.JPG" alt="play">
  </div>
  <div class="hero__container">
    <div class="hero__content">
      <div class="hero__descr">
        <h2 class="hero__title span-lines animate"><span class="green-accent">ОБСЛУЖИВАНИЕ И&nbsp;РЕМОНТ</span> техники, спецтехники и&nbsp;складской техники</h2>
        <p class="hero__text anima">Мы проводим диагностику, техническое обслуживание, текущий и капитальный ремонты, а также поставляем необходимые запасные части и расходные материалы. Комплектуем дополнительным оборудованием</p>
      </div>
    </div>
  </div>
</section>

