<section class="repairs section" id="repairs">
  <div class="repairs__container">
    <h2 class="repairs__title section__title section__title-small span-lines animate">
      Виды <span class="green-accent left-1">ремонта</span>
    </h2>
    <ul class="repairs__list">
      <li class="repairs__item">
        <div class="repairs__image image-parallax">
          <img src="/public/img/repairs/1.jpg" alt="">
        </div>
        <div class="repairs__box">
          <h3 class="repairs__heading anima">Техника</h3>
          <p class="repairs__text anima-03">Обслуживаем технику различных брендов, таких как: Sitrak, HOWO, DAEWOO TRUCKS</p>
        </div>
      </li>
      <li class="repairs__item">
        <div class="repairs__image image-parallax">
          <img src="/public/img/repairs/2.jpg" alt="">
        </div>
        <div class="repairs__box">
          <h3 class="repairs__heading anima">Спецтехника</h3>
          <p class="repairs__text anima-03">Обслуживаем специальную технику различных брендов, таких как: LGCE, BULL, ZOOMLION</p>
        </div>
      </li>
      <li class="repairs__item">
        <div class="repairs__image image-parallax">
          <img src="/public/img/repairs/3.jpg" alt="">
        </div>
        <div class="repairs__box">
          <h3 class="repairs__heading anima">Складская техника</h3>
          <p class="repairs__text anima-03">Обслуживаем складскую технику различных брендов, таких как: JAC, SHANN</p>
        </div>
      </li>
    </ul>
    <ul class="repairs__sublist">
      <li>
        <div class="sublist-repairs__image"><img src="/public/img/repairs/1.png" alt=""></div>
      </li>
      <li>
        <div class="sublist-repairs__image"><img src="/public/img/repairs/2.png" alt=""></div>
      </li>
      <li>
        <div class="sublist-repairs__image"><img src="/public/img/repairs/3.png" alt=""></div>
      </li>
      <li>
        <div class="sublist-repairs__image"><img src="/public/img/repairs/4.png" alt=""></div>
      </li>
      <li>
        <div class="sublist-repairs__image"><img src="/public/img/repairs/5.png" alt=""></div>
      </li>
      <li>
        <div class="sublist-repairs__image"><img src="/public/img/repairs/6.png" alt=""></div>
      </li>
      <li>
        <div class="sublist-repairs__image"><img src="/public/img/repairs/7.png" alt=""></div>
      </li>
      <li>
        <div class="sublist-repairs__image"><img src="/public/img/repairs/8.png" alt=""></div>
      </li>
  
    </ul>
  </div>
</section>