<section class="service section section-dark" id="service">
  <div class="service__container">
    <div class="section__info section__info--dark service__section-info">
      <h4 class="section__info-title ">Виды обслуживания</h4>
    </div>
    <ul class="service__list">
      <li class="col-12 row service__item">
        <div class="col-5 service__box">
          <h2 class="section__title service__title span-lines animate"><span class="green-accent">Гарантийное</span> <span class="left-1" >обслуживание</span></h2>
          <p class="service__text anima">Гарантийное обслуживание&nbsp;&mdash; это бесплатный ремонт или замена товара в&nbsp;течение определенного срока при обнаружении заводского брака.</p>
          <button class="btn btn-reset btn-main anima-03 js-open-modal-main" href="">
            Оставить заявку
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none">
              <path d="M6 1L10 5M10 5L6 9M10 5H0" stroke="white"></path>
            </svg>
          </button>
        </div>
        <div class="col-7 service__wrapper">
          <div class="service__image image-parallax">
            <img src="/public/img/service/1.jpg" alt="">
          </div>
        </div>
      </li>
      <li class="col-12 row service__item odd">
        <div class="col-5 service__box">
          <h2 class="section__title service__title span-lines animate"><span class="green-accent">постГарантийное</span> <span class="left-1">обслуживание</span></h2>
          <p class="service__text anima">Обслуживание вашей техники на&nbsp;протяжении всего срока эксплуатации. Диагностика и&nbsp;ремонт любой сложности.</p>
          <button class="btn btn-reset btn-main anima-03 js-open-modal-main" href="">
            Оставить заявку
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none">
              <path d="M6 1L10 5M10 5L6 9M10 5H0" stroke="white"></path>
            </svg>
          </button>
        </div>
        <div class="col-7 service__wrapper">
          <div class="service__image image-parallax">
            <img src="/public/img/service/2.jpg" alt="">
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>