<section class="shorts section">
  <div class="shorts__container">
    <h2 class="section__title shorts__title section__title-small span-lines animate"><span class="left-1">из жизни</span> <span class="green-accent">сервиса</span></h2>
    <div class="shorts__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide shorts-slide">
          <div class="shorts-block">
            <div class="shorts-block__video">
              <video aria-label="play video" class="shorts-block-video" poster="/public/poster.jpg" src="/public/1.MOV"  loop="" preload="auto"></video>
            </div>
            <button class="shorts-block__btn">
              <img src="/public/play.png" alt="">
            </button>
          </div>
          <h4 class="shorts__heading anima">Челлендж&nbsp;&mdash; ночь в&nbsp;автосервисе</h4>
        </div>
        <div class="swiper-slide shorts-slide">
          <div class="shorts-block">
            <div class="shorts-block__video">
              <video aria-label="play video" class="shorts-block-video" src="/public/2.MP4" poster="/public/poster.jpg"   loop="" preload="auto"></video>
            </div>
            <button class="shorts-block__btn">
              <img src="/public/play.png" alt="">
            </button>
          </div>
          <h4 class="shorts__heading anima">Придавило кабиной, смотреть до&nbsp;конца</h4>
        </div>
        <div class="swiper-slide shorts-slide">
          <div class="shorts-block">
            <div class="shorts-block__video">
              <video aria-label="play video" class="shorts-block-video" src="/public/3.MOV" poster="/public/poster.jpg"  loop="" preload="auto"></video>
            </div>
            <button class="shorts-block__btn">
              <img src="/public/play.png" alt="">
            </button>
          </div>
          <h4 class="shorts__heading anima">Устроился в&nbsp;автосервис, не&nbsp;зная что такое болт</h4>
        </div>
        <div class="swiper-slide shorts-slide">
          <div class="shorts-block">
            <div class="shorts-block__video">
              <video aria-label="play video" class="shorts-block-video" src="/public/4.MOV" poster="/public/poster.jpg"  loop="" preload="auto"></video>
            </div>
            <button class="shorts-block__btn">
              <img src="/public/play.png" alt="">
            </button>
          </div>
          <h4 class="shorts__heading anima">Челлендж&nbsp;&mdash; ночь в&nbsp;автосервисе</h4>
        </div>
        <div class="swiper-slide shorts-slide">
          <div class="shorts-block">
            <div class="shorts-block__video">
              <video aria-label="play video" class="shorts-block-video" src="/public/5.MOV"  poster="/public/poster.jpg"  loop="" preload="auto"></video>
            </div>
            <button class="shorts-block__btn">
              <img src="/public/play.png" alt="">
            </button>
          </div>
          <h4 class="shorts__heading anima">Челлендж&nbsp;&mdash; ночь в&nbsp;автосервисе</h4>
        </div>
        <div class="swiper-slide shorts-slide">
          <div class="shorts-block">
            <div class="shorts-block__video">
              <video aria-label="play video" class="shorts-block-video" src="/public/6.MOV" poster="/public/poster.jpg"  loop="" preload="auto"></video>
            </div>
            <button class="shorts-block__btn">
              <img src="/public/play.png" alt="">
            </button>
          </div>
          <h4 class="shorts__heading anima">Челлендж&nbsp;&mdash; ночь в&nbsp;автосервисе</h4>
        </div>
        <div class="swiper-slide shorts-slide">
          <div class="shorts-block">
            <div class="shorts-block__video">
              <video aria-label="play video" class="shorts-block-video" src="/public/7.MOV" poster="/public/poster.jpg"  loop="" preload="auto"></video>
            </div>
            <button class="shorts-block__btn">
              <img src="/public/play.png" alt="">
            </button>
          </div>
          <h4 class="shorts__heading anima">Челлендж&nbsp;&mdash; ночь в&nbsp;автосервисе</h4>
        </div>
      </div>
    </div>
  </div>
</section>