<section class="work section section-dark" id="work">
  <div class="work__container">
    <h2 class="work__title section__title scroll-title span-lines animate"><span class="green-accent left-1">Работать с нами</span> Выгодно и удобно</h2>
    <div class="col-12 row work__box">
      <div class="work__quote quote-work col-5">
        <div class="quote-work__box">
          <div class="quote-work__quote image-parallax">
            <svg width="49" height="30" viewBox="0 0 49 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.3" d="M40.5425 0H49L36.1123 15.3947H43.2274L40.1397 30H25.2384L28.5945 14.0789L40.5425 0ZM15.3041 0H23.7616L10.874 15.3947H17.989L14.9014 30H0L3.35616 14.0789L15.3041 0Z" fill="white"/>
            </svg>
          </div>
          <p class="quote-work__text anima">Более 10&nbsp;лет оказываем услуги по&nbsp;сервисной поддержке и&nbsp;обслуживанию различного вида спецтехники техники и&nbsp;оборудования.</p>
          <p class="quote-work__text anima">Наши специалисты обладают многолетним опытом и&nbsp;знаниями, а&nbsp;также постоянно обучаются, чтобы всегда предоставлять качественный сервис нашим клиентам.</p>
        </div>
        <div class="quote-work__head">
          <div class="quote-work__face image-parallax">
            <img src="/public/img/work/1.png" alt="">
          </div>
          <div class="quote-work__inner">
            <div class="quote-work__info anima-03">
              <span class="quote-work__fio">Алексей Урюмцев</span>
              <span class="quote-work__descr">Руководитель проекта «Сервис/Гарантия»</span>
            </div>
            <a class="quote-work__phone anima-04" href="">
              <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.55176 11.9859L5.36481 6.18738L6.81828 4.56811L6.85084 3.95877L6.85748 3.38111L5.6334 1.3148L4.94229 1.12962L4.21256 1.0886L1.47228 4.68083L7.84618 16.2778L12.4564 15.6589L12.8873 15.1563L13.2187 14.4725L11.924 12.1169L11.2715 11.7875L10.743 11.5483L8.55176 11.9859Z" fill="#19A25A" stroke="#19A25A" stroke-width="1.5"/>
              </svg>
              +7 (962) 806-47-72
            </a>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
      <ul class="col-6 work__list">
        <li class="work__item">
          <span class="work__value span-lines animate">По всей России</span>
          <span class="animaLine"></span>
          <span class="work__info anima">Сервисные центры во&nbsp;многих городах России</span>
        </li>
        <li class="work__item">
          <span class="work__value span-lines animate">24/7</span>
          <span class="animaLine"></span>
          <span class="work__info anima">Круглосуточные выездные бригады 24/7&nbsp;в любые труднодоступные места обслуживания</span>
        </li>
        <li class="work__item">
          <span class="work__value span-lines animate">Все в&nbsp;наличии</span>
          <span class="animaLine"></span>
          <span class="work__info anima">Собственный склад запасных частей</span>
        </li>
        <li class="work__item">
          <span class="work__value span-lines animate">Быстрое реагирование</span>
          <span class="animaLine"></span>
          <span class="work__info anima">Моментальное реагирование на&nbsp;заявки. Эффективные варианты решения ваших проблем</span>
        </li>
      </ul>
    </div>
  </div>
</section>  